.form-container {
    height: 500px;
    width: 400px;
    background-color: #3AD886;
    border-radius: 10px;
    position: absolute;
    right: 100px;
    top: 200px;
}

h3 {
    margin: 0px;
    position: relative;
}

button {
    background-color: #ED6B5A;
    position: absolute;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    color: black;
    font-size: 1.5rem;
}

input {
    width: 300px;
}

.add {
    right: 50px;
    bottom: 20px;
}

.cancel {
    left: 50px;
    bottom: 20px;
}

.save {
    bottom: 20px;
    right: 50px;
    font-size: 20px;
}

#input-boxes {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 180px;
    align-items: center;
    justify-content: space-around;
    top: 230px;
    left: 50px;
}