.product {
    height: 220px;
    width: 600px;
    background-color: #D34735;
    position: relative;
    margin: 20px;
    margin-left: 150px;
    border-radius: 10px;
}

.img {
    height: 200px;
    width: 300px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.placeholder {
    width: 300px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 20px;
    left: 50px;
}

.product-text {
    position: absolute;
    top: 0px;
    right: 60px;
    font-size: 30px;
    margin-top: 30px;
}

.delete {
    bottom: 10px;
    right: 150px;
    background-color: #3AD886;
}

.edit {
    bottom: 10px;
    right: 10px;
    background-color: #3AD886;
}